---
layout: root
---
<article class="pv4 ph2">
  <section class="mb4">
    <h1 class="mb1 pb0">{{ page.caption }}</h1>
{% if page.guestpost %}
    <p class="i gray pl3 mv0 pv0">
      Guest Post
{% if page.author.size > 0 %}
      by {{ page.author }},
{% endif %}
      on {{ page.date | date: "%B %e, %Y" }}.
    </p>
{% endif %}
  </section>
  <section>
{{ content }}
  </section>
  <section class="i gray pl3 mt4">
    Written
{% if page.author.size > 0 %}
    by {{ page.author }},
{% endif %}
    on {{ page.date | date: "%B %e, %Y" }}.
  </section>
</article>
